/* -------------------------- after --------------------------*/
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.select-input{
    padding: 0.857em 1.214em;
    background: #ffffff;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    width:100%;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
}

.green:hover{
    color: #ffffff;
    background-color: green!important;
}
.prog{
}
.img-box{
    max-width: 150px;
    max-height: 190px;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    padding: 5px;
}
.img-button{
    position: relative;
    top:2px;
}
.img-box-img{
    opacity: 0.442;
}
.ubtn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.ubtn-primary,.ubtn-primary:hover{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.ubtn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.ubtn-success,.ubtn-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.border123{
    background-color:#F8F8F8;
    border:1px solid #e5e5e5;
}
.margintop{
    margin-top: 10px;
}
.progress1{
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress1-bar{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress1-bar-success{
    background-color: #5cb85c;
}
.progress1-bar-striped, .progress1-striped .progress1-bar{
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.margin1{
    margin-top:10px;
}
.fileup input[type=file]{
    position: absolute;
    left: -1px;
    outline: none;
    background: white;
    cursor: pointer;
    z-index: 9999;
    width: 50px;
    opacity: 0;
}
.fileup1 input[type=file]{
    position: absolute;
    left: -1px;
    outline: none;
    background: white;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
}
.fileuproduct-main{
    position: relative;
    outline: none;
    background: red;
    cursor: pointer;
    z-index: 9999;
    width: 215px;
    height: 170px;
    left: 70px;
    top:-100px;
    opacity:0;
}

.fileuproduct{
    position: relative;
    top:-60px;
    left:-5px;
    height: 60px;
    width: 60px;
    outline: none;
    background: white;
    cursor: pointer;
    z-index: 9999;
    opacity:0;
}
.discount-container{
    color: #fff;
}
.discount-container .green_color{
    width: 50px;
    height: 66px!important;
    background: url(../images/discount.png) 0 0 no-repeat;
    background-size: 100%;
}
.discount-container .discount-detail{
    padding-top: 7px;
    position: relative;
    font-family: Arial;
    text-align: center;
}
.discount-container .discount-detail .percentage{
    font: 700 12px/20px Arial;
    position: relative;
    left: 2px;
    line-height: 3px;
}
.discount-container .discount-detail .rate{
    font: 700 16px/16px Arial;
}
.discount-container .discount-detail .indirim{
    font-size: 12px;
    font-weight: 700;
    line-height: 0px;
}
.aktif{
    font-weight: bold!important;
}

.sagbilgi{
    border:3px solid #e5e5e5;
    padding: 5px;
}
.saticibilgileri{
    border-bottom: 2px dotted #e5e5e5;
}
.saticiadi{
    font-weight: bold;
    color:#195ea5;
    font-size: 20px;
    border-bottom: 2px dotted #e5e5e5;

}
.saticiadi > p{
    color: #000;
    font-size: 10px;
    padding:0!important;
    font-weight: normal;
}
.saticiadi > a{
    color:#195ea5;
    font-size: 18px;
    padding:10px 20px;
    font-weight: bold;
}
.sagfoot{
    clear: left;
}
.sagfoot > a{
    display: block;
    padding: 5px;
    float: left;
    color: #000;
    margin-right: 25px;
}
.tdinput > input{
    border-radius: 0;
    width: 70px;
    height: 42px;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}
.select-input1{
    padding: 0.857em 1.214em;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    width:75px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size:    8px 10px;
    margin-left: -20px;
}
.fiyat{
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #484848;
}
.variations tr td:first-child{
    border-right: 1px solid #e5e5e5;
    width: 100px;
}
.magazalogo > a > img{
    max-width: 150px;
    max-height: 150px;
}
.magazatitle{
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.magazatitle > i{
    position: relative;
    top:3px;
    margin-left: 5px;
    font-size: 24px;
}
.minfor{
    text-align: center;
}
.mbuton{
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
.fixbuton{
    font-size: 12px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    width: 100%;
    margin-top: 10px;
    -ms-word-wrap:break-word;
    word-wrap:break-word;
}
.fixbuton > i{

    padding: 0;
    margin-left: -18px;
    margin-right: 5px;
    font-size: 14px;
}
.inftitle{
    font-size: 14px;
}
.searchprc li{
    float: left;
}
.searchprc > li > input{
    width: 80px;
    margin-right: 5px;
    text-align: right;
    font-size:12px;
}
.searchprc > li > button{
    width: 50px;
    text-align: center;
}
.searchprc > li > button > i{
    position: relative;
    right: 6px;
    bottom: 2px;
    text-align: center;
}
.marginbottom20{
    margin-bottom:20px;
}
.brandimgsize{
    max-width: 100px;
    max-height: 60px;
}
.buttonshead{
    border:1px solid #e5e5e5;
    background-color: #ffffff;
    width: 100%;
}
.buttonshead > a{
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
    width: 33.3333%;
    font-weight: bold;
}

.btnaktif{
    background: #00abc5;
    color: whitesmoke;
}
.helpbox{
    background: #ffffff;
    border:1px solid #e5e5e5;
    margin-top: 20px;
    padding: 50px;
}
.helpbox1{
    background: #ffffff;
    border:1px solid #e5e5e5;
    margin-top: 20px;
    padding: 10px;
}
.helpbox2{
    background: #e5e5e5;
    border:1px solid #ffffff;
    max-width: 350px;
    margin: 20px auto 0 auto;
    padding: 10px;
}
.helpbox2 p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.helpbox2 a{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin: 0 auto;
}
.btnsize{
    height: 40px;
}
.bslk{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.sklar{
    padding: 10px 0;
    float: none;
}
.solmenu1{
padding: 0;
    margin: 0;
}
.solmenu1 > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.solmenu1 >ul >li >.menuitem1{
    display: block;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 78px;
    border:1px solid #e5e5e5;
    margin: 0px auto 10px auto;
    color: #000;
    padding: 15px 15px 5px 15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0');
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
    background: -moz-linear-gradient(top, #fafafa, #f0f0f0);
}
#menu1 li .content-menu {
    position: absolute;
    left: 200px;
    top: 0px;
    background-color: #fff;
    width: 600px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
    z-index: 9999;
}
.solmenu1 #menu1 li:hover .menuitem1 {
    background: #009BF7;
    color: #fff;
}

#menu1 li:hover .menuitem1 i {
    color: #fff;
}
#menu1 li:hover .content-menu {
    display: block;
}
.solmenu2{
    padding: 0;
}
.solmenu2 ul{
    list-style-type: none;
    margin: 0 auto;

}
.solmenu2 ul li i{
    margin-right: 5px;
}
.solmenu2 ul li a{
    display: block;
    font-weight: bold;
    width: 150px;
    height: 78px;
    border:1px solid #e5e5e5;
    margin: 0px auto 10px auto;
    color: #000;
    padding: 15px 15px 5px 15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0');
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
    background: -moz-linear-gradient(top, #fafafa, #f0f0f0);
}
.sagicerik{
    padding: 10px;
    border:1px solid #e5e5e5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    height: 430px;
}
.helpicon{
    text-align: center;
    font-size: 24px;
    opacity: 0.60;
    margin: 90px 0 10px 0;
}
.padding10{
    padding: 10px;
}
.current a{
    background-color: #00abc5;
    color: #ffffff!important;
    font-weight: bold;
    border-color: #00abc5!important;
}
.current a:hover{
    background: #ffffff!important;
    color: #000000!important;

}
.medals img{
    position: relative;
    top: -9px;
    left: 12px;
    height: 50px;
    width: 50px;
}
.medals_very_good img{
    position: relative;
    top: -1px;
    left: 18px;
    height: 34px;
    width: 34px;
}
.medaltext_very_good{
    font-weight: bold;
    position: relative;
    top:-18px;
}
.medaltext{
    font-weight: bold;
    position: relative;
    top:-35px;
}

.verifytext{
    position: relative;
    top: -14px;
    right: 2px;
    font-weight: bold;
}
.smsverify img{
    position: relative;
    left: 38%;
    height: 30px;
}
.timer_background{
    text-align: center;
    font-size: 14px;
    clear:both;
}
.give_height{
    height: 549px;
    color: #484848;
    padding: 20px;
}
.give_height > .col-md-12{
    padding: 0;
}
.seller{
    padding: 5px;
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    font-weight: bold;
    color: #484848;
}
.seller > a:first-child{
    color:#00abc5;
}
.ncolor{
    background-color: #00abc5!important;
    color: white;
}
.ncolor::after{
    color: #484848!important;
}
.adet{
    float: left;
    margin-right: 20px;
}
label.adet{
    position: relative;
    top:12px;
}
.ihaleblok{
    width: 48%;
    float: left;
}
.ihaleblok1{
    width: 100%;
}
.ihaleblok:first-child{
    border-right: 1px solid #d5d5d5;
    margin-right: 10px;
}
.setsizeimg{
    width: 300px!important;
    height: 300px!important;
}

.solmenu1 .center-block .content-menu .col-md-6 h4{
    font-size: 16px;
    color: #666666;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin-right: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.solmenu1 .center-block .content-menu .col-md-6 ul{
    list-style-type: none;
    padding: 0;
}
.questionlink{
    font-weight: bold;
}
.dored{
    background-color: red;
    color: white;
    cursor: pointer;
}
.button,.remove-icon{
    cursor: pointer;
}
.ibf{
    text-align: center;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
.ibf > span{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.ibf > ins{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.stf > span{
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
.stf > ins{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #dddddd;
}

.product-outer{
    max-height: 300px!important;
}
.product-outer1{
    max-height: 750px!important;
}


.botcizgi span{
    border-bottom: 2px solid #00abc5;
    font-size: 36px;
}